# Virtual Environment
venv/

# VS Code
.vscode/
*.code-workspace

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.pyc

# macOS
.DS_Store
.AppleDouble
.LSOverride
